{% set css %}
  {% include "reset.css" %}
  {% include "style.css" %}
  {% include "prism.css" %}
{% endset %}
<!-- feed it through our cssmin filter to minify -->
<style>
  {{ css | cssmin | safe }}
</style>

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/x-icon" href="/img/edge_favicon.png" />
    <title>{{ pageTitle }}</title>
    <meta name="description" content="{{ blurb }}">
    <meta property="og:title" content="{{ pageTitle }}" />
    <!--<meta property="og:url" content="https://www.example.com/webpage/" /> -->
    <meta property="og:description" content="{{ blurb }}" />
    <meta property="og:image" content="{{ image }}" />
    <link rel="image_src" href="{{ image }}"> 
  </head>
  <body>

    <div id='post-content'>

  <h3><a href="/">Edge Collective</a></h3>
    <h1>{{ pageTitle }}</h1>
    <i>{{blurb | safe}}</i>
<hr>
        <!-- <h1>{{ pageTitle }}</h1> -->

  
  {{ content | safe }}

    </div>
  </body>
</html>
